@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

.header {
  background: rgb(44, 39, 39);
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header img {
  width: 100px;
  margin-left: 1em;
}

.main-cta {
  width: 300px;
  background-color: #2196f3;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  font-size: 1rem;
  height: 3em;
  text-align: center;
  text-transform: uppercase;
}

.main-cta:hover {
  background-color: #ffffff;
  color: #2196f3;
}

.iframe-box {
  height: 100px;
}

.aside-section {
  display: inline-block;
  width: 25%;
  position: absolute;
  background-color: #2196f3;
  padding: 2em 4em;
  border-bottom-right-radius: 100px;
}

.main-nav li {
  margin: 15px 0;
  list-style-type: none;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  color: #2c2727;
}

.main-content {
  padding-top: 2em;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(123, 189, 243, 1) 0%,
    rgba(91, 149, 197, 1) 49%,
    rgba(26, 63, 92, 1) 100%
  );
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-align: center;
}

.wrapper h1 {
  font-size: 2rem;
  padding-bottom: 1em;
}
.wrapper span {
  font-weight: 800;
  font-size: 1.3rem;
}
.wrapper p {
  padding-top: 1em;
  padding-bottom: 10em;
  word-break: break-all;
}

.iframe-box {
  width: 400px;
  height: 100px;
}
